<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Despliegue de WordPress en OpenShift 3 PreProducción</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>OSE3_APP_NAME</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OSE3_PROJECT_NAME</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1.24">
          <name>OSE3_CREDENTIAL</name>
          <description>Username/password for deploying images into Openshift3</description>
          <defaultValue>93a24f2a-9d4c-4733-a711-3492e012f04c</defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</credentialType>
          <required>true</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PIPELINE_VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <se.diabol.jenkins.pipeline.PipelineProperty plugin="delivery-pipeline-plugin@0.9.8">
      <taskName>Deploy</taskName>
      <stageName>Pre</stageName>
    </se.diabol.jenkins.pipeline.PipelineProperty>
    <hudson.plugins.promoted__builds.JobPropertyImpl plugin="promoted-builds@2.24.1">
      <activeProcessNames>
        <string>Promote-PRO</string>
      </activeProcessNames>
    </hudson.plugins.promoted__builds.JobPropertyImpl>
    <hudson.plugins.sidebar__link.ProjectLinks plugin="sidebar-link@1.7">
      <links>
        <hudson.plugins.sidebar__link.LinkAction>
          <url>http://wordpress-scf-demo-innersource-dev.appls.boae.paas.gsnetcloud.corp</url>
          <text>Openshift</text>
          <icon>/userContent/openshift_64x64.png</icon>
        </hudson.plugins.sidebar__link.LinkAction>
      </links>
    </hudson.plugins.sidebar__link.ProjectLinks>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>ose3-deploy</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>deploy_in_ose3.sh ${OSE3_USERNAME} ${OSE3_PASSWORD} ${OSE3_PROJECT_NAME} ${OSE3_APP_NAME} wordpress-btsync-external-mysql \
--param=APP_NAME=&apos;${OSE3_APP_NAME}&apos;,WORDPRESS_IMAGE=registry.lvtc.gsnet.corp/${PIPELINE_VERSION},MYSQL_DB_HOST=external-mysql,MYSQL_DB_PORT=3306,MYSQL_DB_USER=admin,MYSQL_DB_PASSWORD=aquielpassword,MYSQL_DB_NAME=wordpress</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.6">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>${OSE3_CREDENTIAL}</credentialsId>
          <usernameVariable>OSE3_USERNAME</usernameVariable>
          <passwordVariable>OSE3_PASSWORD</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>
