<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition plugin="validating-string-parameter@2.3">
          <name>GITLAB_PROJECT</name>
          <description>GitLab Project URL (p.ej ssh://git@githost:gitport/groupname/reponame.git)</description>
          <defaultValue></defaultValue>
          <regex>((?:(?:ssh|git|https?):\/\/)?(?:.+(?:(?::.+)?)@)?[\w\.]+(?::\d+)?\/)?([^\/\s]+)\/([^\.\s]+)(?:\.git)?</regex>
          <failedValidationMessage>Insert a valid GitLab project URL</failedValidationMessage>
        </hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_RELEASE_BRANCH_FEATURE_A</name>
          <description>Release branch of FEATURE-A for A/B Testing</description>
          <defaultValue>master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_INTEGRATION_BRANCH_FEATURE_A</name>
          <description>Continuous Integration branch feature A</description>
          <defaultValue>development</defaultValue>
        </hudson.model.StringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1.24">
          <name>GITLAB_CREDENTIAL</name>
          <description>GitLab Credential (http(s): username/password, ssh: private key)</description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.common.StandardCredentials</credentialType>
          <required>true</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>APP_NAME_OSE3_FEATURE_A</name>
          <description>Name of the application to deploy in OpenShift</description>
          <defaultValue>app-feature-A</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_RELEASE_BRANCH_FEATURE_B</name>
          <description>Release branch of FEATURE-B for A/B Testing</description>
          <defaultValue>master-B</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_INTEGRATION_BRANCH_FEATURE_B</name>
          <description>Continuous Integration branch for Feature B</description>
          <defaultValue>development-B</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>APP_NAME_OSE3_FEATURE_B</name>
          <description>Name of the application to deploy in OpenShift for Feature B</description>
          <defaultValue>app-feature-B</defaultValue>
        </hudson.model.StringParameterDefinition>
		<com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.56">
          <name>COMPILER</name>
          <description>Static files compilation mode</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>5</visibleItemCount>
          <type>PT_SINGLE_SELECT</type>
          <propertyFile>/var/jenkins_home/userContent/customConfigs/frontCompilerModeList.properties</propertyFile>
          <propertyKey>compilerModes</propertyKey>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
		<hudson.model.StringParameterDefinition>
          <name>DIST_DIR</name>
          <description>Distribution directory (i.e.  &quot;dist &quot;,  &quot;. &quot;,...)</description>
          <defaultValue>dist</defaultValue>
        </hudson.model.StringParameterDefinition>
		<hudson.model.StringParameterDefinition>
          <name>OSE3_PROJECT_NAME</name>
          <description>Name of the OpenShift project.
(Openshift project name excluding the prefix &quot;-dev&quot;)</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.56">
          <name>OSE3_URL</name>
          <description>OpenShift PAAS region URL</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>5</visibleItemCount>
          <type>PT_SINGLE_SELECT</type>
          <propertyFile>/var/jenkins_home/userContent/customConfigs/paasRegionList.properties</propertyFile>
          <propertyKey>regions</propertyKey>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
	<hudson.model.StringParameterDefinition>
          <name>OSE3_TEMPLATE_NAME</name>
          <description>OpenShift template to be used in deployment</description>
          <defaultValue>nginx-ab-alm-1.0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>OSE3_TOKEN_PROJECT_DEV</name>
          <description>A valid OSE3 token for dev project</description>
          <defaultValue></defaultValue>
        </hudson.model.PasswordParameterDefinition>
	<com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.56">
          <name>FRONT_CUSTOMIZE</name>
          <description></description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>5</visibleItemCount>
          <type>PT_JSON</type>
          <groovyScriptFile>/var/jenkins_home/userContent/dsl-scripts/nodejs_template_json.groovy</groovyScriptFile>
          <bindings></bindings>
          <groovyClasspath></groovyClasspath>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1.24">
          <name>SERENITY_CREDENTIAL</name>
          <description>Serenity LDAP username/password</description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</credentialType>
          <required>true</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <EnvInjectJobProperty plugin="envinject@1.92.1">
      <info>
        <groovyScriptContent>
import groovy.json.*
def FRONT_CUSTOMIZE= &quot;${FRONT_CUSTOMIZE}&quot;.trim()

def slurperFRONT_CUSTOMIZE = new JsonSlurper()
def listFRONT_CUSTOMIZE = slurperFRONT_CUSTOMIZE.parseText(FRONT_CUSTOMIZE)



return listFRONT_CUSTOMIZE
</groovyScriptContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
      <on>true</on>
      <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
      <keepBuildVariables>true</keepBuildVariables>
      <overrideBuildParameters>false</overrideBuildParameters>
      <contributors/>
    </EnvInjectJobProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <javaposse.jobdsl.plugin.ExecuteDslScripts plugin="job-dsl@1.42">
      <targets>dsl-scripts/*.groovy</targets>
      <usingScriptText>false</usingScriptText>
      <ignoreExisting>false</ignoreExisting>
      <removedJobAction>IGNORE</removedJobAction>
      <removedViewAction>IGNORE</removedViewAction>
      <lookupStrategy>JENKINS_ROOT</lookupStrategy>
      <additionalClasspath></additionalClasspath>
    </javaposse.jobdsl.plugin.ExecuteDslScripts>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.5.1">
      <template>#${BUILD_NUMBER}: ${APP_NAME_OSE3_FEATURE_A}/${APP_NAME_OSE3_FEATURE_B}->${OSE3_PROJECT_NAME} (nodejs)</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.4">
      <includes>dsl-scripts/nodejs_ABTesting.groovy,dsl-scripts/DeliveryPipeline_ABTesting.groovy,dsl-scripts/util/InjectBuildParameters.groovy,,dsl-scripts/util/UpdateLinkAction.groovy,dsl-scripts/util/Utilities.groovy</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>userContent</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
  </buildWrappers>
</project>
