<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.642.4</version>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="com.michelin.cio.hudson.plugins.rolestrategy.RoleBasedAuthorizationStrategy">
    <roleMap type="projectRoles">
      <role name="ci_user" pattern=".+-ci-.+">
        <permissions>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Run.Delete</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>hudson.model.Item.Delete</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Item.Move</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs/>
      </role>
      <role name="dev_user" pattern=".+-dev-.+">
        <permissions>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Run.Delete</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>hudson.model.Item.Delete</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Item.Move</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs/>
      </role>
      <role name="pre_user" pattern=".+-pre-.+">
        <permissions>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Run.Delete</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>hudson.model.Item.Delete</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Item.Move</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs>
          <sid>impes-product-owner</sid>
          <sid>impes-technical-lead</sid>
          <sid>impes-developer</sid>
        </assignedSIDs>
      </role>
      <role name="pro_user" pattern=".+-pro-.+">
        <permissions>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Run.Delete</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>hudson.model.Item.Delete</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Item.Move</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs>
          <sid>impes-product-owner</sid>
          <sid>impes-technical-lead</sid>
          <sid>impes-developer</sid>
        </assignedSIDs>
      </role>
      <role name="tl_user" pattern="TL-.+">
        <permissions>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs/>
      </role>
    </roleMap>
    <roleMap type="globalRoles">
      <role name="admin" pattern=".*">
        <permissions>
          <permission>hudson.model.View.Delete</permission>
          <permission>hudson.model.Computer.Connect</permission>
          <permission>hudson.model.Run.Delete</permission>
          <permission>hudson.model.Hudson.UploadPlugins</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.Computer.Create</permission>
          <permission>hudson.model.View.Configure</permission>
          <permission>hudson.model.Hudson.ConfigureUpdateCenter</permission>
          <permission>hudson.model.Computer.Build</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Hudson.Administer</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>hudson.model.Computer.Delete</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.scm.SCM.Tag</permission>
          <permission>hudson.model.Item.Move</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>hudson.model.Hudson.RunScripts</permission>
          <permission>hudson.model.View.Create</permission>
          <permission>hudson.model.Item.Delete</permission>
          <permission>hudson.plugins.release.ReleaseWrapper.Release</permission>
          <permission>hudson.model.Computer.Configure</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.model.Computer.Disconnect</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs>
          <sid>jenkins-administrators</sid>
          <sid>admin</sid>
        </assignedSIDs>
      </role>
      <role name="promoter" pattern=".*">
        <permissions>
          <permission>hudson.plugins.promoted_builds.Promotion.Promote</permission>
        </permissions>
        <assignedSIDs>
          <sid>impes-product-owner</sid>
          <sid>impes-technical-lead</sid>
          <sid>impes-developer</sid>
        </assignedSIDs>
      </role>
      <role name="reader" pattern=".*">
        <permissions>
          <permission>hudson.model.Hudson.Read</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>hudson.model.View.Read</permission>
        </permissions>
        <assignedSIDs>
          <sid>authenticated</sid>
        </assignedSIDs>
      </role>
      <role name="user" pattern=".*">
        <permissions>
          <permission>hudson.model.Hudson.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.View.Read</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>hudson.plugins.release.ReleaseWrapper.Release</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.scm.SCM.Tag</permission>
          <permission>hudson.model.Item.Discover</permission>
        </permissions>
        <assignedSIDs>
          <sid>impes-product-owner</sid>
          <sid>impes-technical-lead</sid>
          <sid>impes-developer</sid>
        </assignedSIDs>
      </role>
    </roleMap>
    <roleMap type="slaveRoles"/>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.9.7">
      <owner class="hudson" reference="../../.."/>
      <name>CI</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.+-ci-.+</includeRegex>
      <recurse>true</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_12323</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_31248</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </rightPortlets>
      <topPortlets>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_1518</id>
          <name>Latest builds</name>
          <numBuilds>10</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
      </topPortlets>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_168</id>
          <name>Test Statistics Grid</name>
          <useBackgroundColors>false</useBackgroundColors>
          <skippedColor>FDB813</skippedColor>
          <successColor>71E66D</successColor>
          <failureColor>E86850</failureColor>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.9.7">
      <owner class="hudson" reference="../../.."/>
      <name>DEV</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.+-dev-.+</includeRegex>
      <recurse>true</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_12323</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_31248</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </rightPortlets>
      <topPortlets>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_1518</id>
          <name>Latest builds</name>
          <numBuilds>10</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
      </topPortlets>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_168</id>
          <name>Test Statistics Grid</name>
          <useBackgroundColors>false</useBackgroundColors>
          <skippedColor>FDB813</skippedColor>
          <successColor>71E66D</successColor>
          <failureColor>E86850</failureColor>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.9.7">
      <owner class="hudson" reference="../../.."/>
      <name>PRE</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.+-pre-.+</includeRegex>
      <recurse>true</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_12323</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_31248</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </rightPortlets>
      <topPortlets>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_1518</id>
          <name>Latest builds</name>
          <numBuilds>10</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
      </topPortlets>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_168</id>
          <name>Test Statistics Grid</name>
          <useBackgroundColors>false</useBackgroundColors>
          <skippedColor>FDB813</skippedColor>
          <successColor>71E66D</successColor>
          <failureColor>E86850</failureColor>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <hudson.plugins.view.dashboard.Dashboard plugin="dashboard-view@2.9.7">
      <owner class="hudson" reference="../../.."/>
      <name>PRO</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>.+-pro-.+</includeRegex>
      <recurse>true</recurse>
      <useCssStyle>false</useCssStyle>
      <includeStdJobList>false</includeStdJobList>
      <hideJenkinsPanels>false</hideJenkinsPanels>
      <leftPortletWidth>50%</leftPortletWidth>
      <rightPortletWidth>50%</rightPortletWidth>
      <leftPortlets>
        <hudson.plugins.view.dashboard.stats.StatJobs>
          <id>dashboard_portlet_12323</id>
          <name>Job statistics</name>
        </hudson.plugins.view.dashboard.stats.StatJobs>
      </leftPortlets>
      <rightPortlets>
        <hudson.plugins.view.dashboard.stats.StatBuilds>
          <id>dashboard_portlet_31248</id>
          <name>Build statistics</name>
        </hudson.plugins.view.dashboard.stats.StatBuilds>
      </rightPortlets>
      <topPortlets>
        <hudson.plugins.view.dashboard.builds.LatestBuilds>
          <id>dashboard_portlet_1518</id>
          <name>Latest builds</name>
          <numBuilds>10</numBuilds>
        </hudson.plugins.view.dashboard.builds.LatestBuilds>
      </topPortlets>
      <bottomPortlets>
        <hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
          <id>dashboard_portlet_168</id>
          <name>Test Statistics Grid</name>
          <useBackgroundColors>false</useBackgroundColors>
          <skippedColor>FDB813</skippedColor>
          <successColor>71E66D</successColor>
          <failureColor>E86850</failureColor>
        </hudson.plugins.view.dashboard.test.TestStatisticsPortlet>
      </bottomPortlets>
    </hudson.plugins.view.dashboard.Dashboard>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Templates</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>TL-.+</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Job Patterns</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>TJ-.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Home</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(?!(TL|TJ)-.*).*</includeRegex>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>Home</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>
