<project>
	<actions/>
	<description/>
	<keepDependencies>false</keepDependencies>
	<properties>
		<hudson.model.ParametersDefinitionProperty>
			<parameterDefinitions>
				<hudson.model.StringParameterDefinition>
					<name>HOSTNAME</name>
					<description>Hostname or IP to connect with telnet</description>
					<defaultValue/>
				</hudson.model.StringParameterDefinition>
				<hudson.model.StringParameterDefinition>
					<name>PORT</name>
					<description>Port of hostname or IP to connect with telnet</description>
					<defaultValue/>
				</hudson.model.StringParameterDefinition>
			</parameterDefinitions>
		</hudson.model.ParametersDefinitionProperty>
		<com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
			<autoRebuild>false</autoRebuild>
		</com.sonyericsson.rebuild.RebuildSettings>
	</properties>
	<scm class="hudson.scm.NullSCM"/>
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<jdk>(System)</jdk>
	<triggers/>
	<concurrentBuild>false</concurrentBuild>
	<builders>
		<hudson.tasks.Shell>
			<command>
				sleep 1 | telnet $HOSTNAME $PORT | grep "Connected to"
			</command>
		</hudson.tasks.Shell>
	</builders>
	<publishers/>
	<buildWrappers/>
</project>
