<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&#xd;
        &#xd;
&lt;p&gt;This job is designed to migrate Gitlab projects from V0 to V1&lt;/p&gt;&#xd;
&#xd;
&#xd;
    </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>10</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>1</artifactDaysToKeep>
        <artifactNumToKeep>1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition plugin="validating-string-parameter@2.3">
          <name>GITLAB_PROJECT_SOURCE</name>
          <description>GitLab Project URL (i.e https://gitlab.ci.gsnet.corp/groupname/reponame.git)</description>
          <defaultValue></defaultValue>
          <regex>((http(s)?)|([\w\.]+))(:(\/\/)?)([\w\.@\:\/\-~]+)(\.git)(\/)?</regex>
          <failedValidationMessage>Insert a valid GitLab project URL</failedValidationMessage>
        </hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@2.1.4">
          <name>GITLAB_CREDENTIAL_SOURCE</name>
          <description>GitLab Credential of source repository (http(s): username/password)</description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</credentialType>
          <required>true</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
        <hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition plugin="validating-string-parameter@2.3">
          <name>GITLAB_PROJECT_TARGET</name>
          <description>GitLab Project URL (i.e https://serenity-gitlab.alm.gsnetcloud.corp/groupname/reponame.git)</description>
          <defaultValue></defaultValue>
          <regex>((http(s)?)|([\w\.]+))(:(\/\/)?)([\w\.@\:\/\-~]+)(\.git)(\/)?</regex>
          <failedValidationMessage>Insert a valid GitLab project URL</failedValidationMessage>
        </hudson.plugins.validating__string__parameter.ValidatingStringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@2.1.4">
          <name>GITLAB_CREDENTIAL_TARGET</name>
          <description>GitLab Credential of targer repository (http(s): username/password)</description>
          <defaultValue></defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</credentialType>
          <required>true</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.22">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>migrate_gitlab.sh ${GITLAB_PROJECT_SOURCE} ${GITLAB_PROJECT_TARGET} </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.5.1">
      <template>#${BUILD_NUMBER}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.9">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>${GITLAB_CREDENTIAL_SOURCE}</credentialsId>
          <usernameVariable>GITLAB_USER_SOURCE</usernameVariable>
          <passwordVariable>GITLAB_PASSWORD_SOURCE</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>${GITLAB_CREDENTIAL_TARGET}</credentialsId>
          <usernameVariable>GITLAB_USER_TARGET</usernameVariable>
          <passwordVariable>GITLAB_PASSWORD_TARGET</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>

